<div id="menu">
			<ul>
				<li class="first"><a href="$|homeURL()|$">Principal</a></li>
				$|showSectionList({includeSectionTags={"edi_boletim*","exped_boletim*","ind_boletim*","contato_boletim*"}})|$<span class="style6"></span><span class="titulo_data">&nbsp;&nbsp;&nbsp; $|day()|$ de $|monthName()|$ de $|year()|$</span>
			</ul>
		</div>