    <div class="content"> 
        <font size="1" face="Tahoma"><span class="style2">$|infoTitleText()|$ 
        <br />
         <a href="$|infoURL()|$">$|infoSummaryFiltered()|$</a></span></font>
    </div>