<br />
<font color="#666666" face="tahoma" size="3"><b>$|infoSectionName()|$</b></font><br />
<!--$$ if infoIndexImageFileName()  and infoIndexImageFileName() ~=""then $$-->
<img src="$|mediaURL(infoIndexImageFileName())|$" vspace="5" />
<!--$$ end $$-->
<font color="#666666" face="tahoma" size="2"><b>$|infoTitleText()|$</b></font><br />
<font face="tahoma" size="2">
	<a href="$|infoURL()|$" style="color: #999999;text-decoration: none;">$|infoSummaryFiltered({excludeTags={"*"}})|$</a>
</font>
<hr color="#dfdfdf" size="1"  width="480" />
