<a href="$|infoURL()|$"><span class="titulo_materia_secao">$|infoTitleText()|$</a></span>
<p class="texto">$|infoSummaryFiltered({excludeTags={"*"}})|$</p>
 <span class="titulo_publicado">Publicado em $|infoDateText()|$</span>
<!--$$ if not isLastInfo() then $$-->
<hr size=1 class="pontilhado">
<!--$$ end $$-->
<!--$$ G_INFOS_RELATED_SECTION = infoSectionID() $$-->