<!--$$ if infoCounter() == 1 then $$-->
	<!--$$ if (not isFirstSection()) and (tonumber(countSection) ~= 3) then $$-->
		<br /> 
	<!--$$ end $$-->
	<font color="#666666" face="tahoma" size="2"><b>$|infoSectionName()|$</b></font><br />
<!--$$ end $$-->
	<font face="tahoma" size="2">
		<a href="$|infoURL()|$" style="color: #999999;text-decoration: none;">- $|infoTitleText()|$<br /></a>
	</font>