<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top" width="100%">
    	<font color="#666666" face="tahoma" size="3"><b>$|infoSectionName()|$</b></font>
	    <br />
	    <font color="#666666" face="tahoma" size="2"><b>$|infoTitleText()|$</b></font>
	    <br />
	    <font face="tahoma" size="2" color="#666666">
	    	<a href="$|infoURL()|$" style="color: #999999;text-decoration: none;">$|infoSummaryFiltered()|$</a><br />
	    </font>
    </td>
    <td align="right" valign="top">&nbsp;</td>
  </tr>
  </table>
<!--$$ if not isLastInfo() then $$-->
<hr color="#dfdfdf" size="1" />
<!--$$ end $$-->