<!--$$ useLibrary("w_info.bin") $$-->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td>$|infoTitle()|$</td>
  </tr>
  <tr>
    <td>
      $|infoAuthor()|$<br>
      <!--$$ if hasEmptyText() then $$-->
      $|infoSummary()|$
      <!--$$ else $$-->
      $|infoText()|$
      <!--$$ end $$-->
    </td>
  </tr>
  <tr>
    <td>$|infoDate()|$ $|infoTime()|$ $|infoSection()|$</td>
  </tr>
</table>