<!--$$ useLibrary("w_info.bin") $$-->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  
  <tr>
    <td class="texto">  
    <span class="titulo_materia">  $|infoTextFiltered({excludeTags={"font","FONT","span","SPAN"}})|$</span>
       </td>
  </tr>
  
</table>