<!--$$ useLibrary("w_navigationwidget.bin") $$-->
<br>
<table border="$|NavigationWidget.table.border|$" bordercolor="$|NavigationWidget.table.bordercolor|$" bgcolor="$|NavigationWidget.table.bgcolor|$" cellpadding="2" cellspacing="0" width="250">
  <tr>
    <td bgcolor="$|NavigationWidget.lblHeader.bgcolor|$"><font face="$|NavigationWidget.font.face|$" color="$|NavigationWidget.lblHeader.color|$" size="$|NavigationWidget.lblHeader.size|$"><strong>$|contextLabel()|$</strong></font></td>
  </tr>
  <tr>
    <td>$|showContextInfos()|$</td>
  </tr>
</table> 