    	 <font size="2" face="tahoma" color="#676767">$|infoTitleText()|$
         	<br />
         	<a href="$|infoURL()|$" style="text-decoration:none;color:#999999">$|infoSummaryFiltered()|$</a><br /><br />
         </font>
         
  