        <font size="2" face="Tahoma">
        	<a href="$|infoURL()|$" style="color: #999999;text-decoration: none;">$|infoTitleText()|$</a> 
        	<br />
        </font>
		<hr color="#dfdfdf" size="1" />