<!--$$ useLibrary("w_info.bin") $$-->
<table cellpadding=0 cellspacing=0 border=0 width="100%">
  <tr>
    <td><p align=left><font face="$|InfoViewPanel.font.face|$" size="1" color="#000000"><strong>$|infoDateLabel()|$ $|infoDateText()|$ $|infoTimeLabel()|$ $|infoTimeText()|$</strong></font><br><font face="$|InfoViewPanel.font.face|$" size="1" color="#000000"><strong>$|infoSectionName()|$</strong></font></td>
  </tr>
  <tr>
    <td><hr size=1 noshade></td>
  </tr>
  <tr>
    <td>
      <p align=left><strong><font face="$|InfoViewPanel.font.face|$" size="4" color="#000000">$|infoTitleText()|$</font></strong><br><font face="$|InfoViewPanel.font.face|$" size="1" color="#000000">$|infoAuthorName()|$</font></p>
      <p align=left><!--$$ if hasEmptyText() then $$--><font face="$|InfoViewPanel.font.face|$" size="2" color="#000000">$|infoSummaryFiltered()|$</font><!--$$ else $$--><font face="$|InfoViewPanel.font.face|$" size="2" color="#000000">$|infoTextFiltered()|$</font><!--$$ end $$--></p>
    </td>
  </tr>
  <tr>
    <td><hr size=1 noshade></td>
  </tr>
</table>    