<p>&nbsp;$|infoSectionName()|$</p>
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td valign="top">&nbsp;</td>
    <td valign="top" width="100%"><p class="titulo_redes">$|infoTitleText()|$<br />
        <a href="$|infoURL()|$">$|infoSummaryFiltered()|$</a><br></p></td>
    <td align="right" valign="top">&nbsp;</td>
  </tr>
  </table>
<!--$$ if not isLastInfo() then $$-->
<hr size=1 class="pontilhado">
<!--$$ end $$-->