<!--$$ if sectionCounter() == _MEIO+1 then $$-->
</div>
<div id="bloco2">
<!--$$ end $$-->
  <div class="subbloco"> $|showInfos({sectionID=sectionID(),infoTemplate="w_indexshortinfo_areatematica.htm", 
    infoMaxCount=4, orderBy = {"infoDate-", "infoTime-"}})|$ </div>
<!--$$ if sectionCounter() == _TOTAL_SECOES then $$--> 
</div>
<!--$$ end $$-->
 