<!--$$ useLibrary("w_sectionimage.bin") $$-->
<table cellpadding=2 cellspacing=0 align=$|sectionImageAlignment()|$>
  <tr>
    <td align=center><!--$$ if sectionImageTargetURL() ~= "" then $$--><a href='$|sectionImageTargetURL()|$'><!--$$ end $$--><img src='$|sectionImageURL()|$' alt='$|sectionImageLabel()|$' border=0><!--$$ if sectionImageTargetURL() ~= "" then $$--></a><!--$$ end $$--></td>
  </tr>
  <tr>
    <td align=center><font size="1">$|sectionImageLabel()|$</font></td>
  </tr>
</table>