<table border="0" cellpadding="0" cellspacing="0">
  <tr><form name="frmSectionSelect" action="$|startURL()|$" method="POST">
    <input type="hidden" name="user" value="$|cgi.user|$">
    <input type="hidden" name="UserActiveTemplate" value="$|cgi.UserActiveTemplate|$">
    <td align="right"><font face="$|ControlsPanel.font.face|$" size="$|ControlsPanel.font.size|$"><strong>$|ControlsPanel.SectionSelect.label|$</strong></font></td>
  </tr>
  <tr>
    <td align="right" valign=bottom>$|sectionSelect()|$</td>
    <td valign=middle width=25 align=center><input type="image" src="$|templateImageURL("h_go.gif")|$" border="0"></td>
  </tr>
  </form>
</table>
