<table cellpadding=0 cellspacing=0 border=0 width="100%">
  <tr>
    <td width="100%" height=20 valign=middle>$|strrep("&nbsp;", getn(sectionPathIDs()) * 2)|$<a href="$|sectionURL()|$"><font face="$|ControlsPanel.font.face|$" size="$|ControlsPanel.font.size|$" color="$|ControlsPanel.body.linkColor|$"><strong>$|sectionName()|$</strong></a><!--$$ showClearGif(4,1) $$--></td>
  </tr>
</table>
$|showSectionList({parentSectionID = sectionID(), maxSectionLevels = 1, template = "w_sectionlistv.htm"})|$
