<!--$$ old_dofile(activeTemplatePath().."lua/functions.lua")$$-->
$|showSectionList({ parentSectionID=getSectionID({sectionTag="*infob*"}), template="w_sectionlist_pegaid_e_insere_em_tabela.htm"})|$
<div class="search">
	<form action="$|startURL()|$">
	<input type="hidden" name="user" value="$|cgi.user|$">
	<input type="hidden" name="query" value="simple">
	<input type="hidden" name="search_by_field" value="tax">
	<input type="hidden" name="search_by_section" value='$|concat(G_sids,",")|$'>
	<input type="hidden" name="UserActiveTemplate" value="$|cgi.UserActiveTemplate|$">
	<div>
		<br />
		 Busca: <input type="text" value="" class="text" size="10" name="text"/>
		<input type="submit" value="ok" class="searchbutton" /><br /><br />
	</div>
	</form>
</div>
<!--$$ 
-- Matando a global alimentada na showSectionList
G_sids = nil 
$$-->