<!--$$ useLibrary("w_sysmessage.bin") $$-->
<table border="$|Message.table.border|$" bordercolor="$|Message.table.bordercolor|$" cellspacing="0" cellpadding="2">
  <tr>
    <td bgcolor="$|Message.table.bgColor|$">$|systemMessage()|$</td>
  </tr>
</table>