
<!--$$ cgilua.includehtml(findTemplate("head.htm", "html")) $$-->
<table width="770" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#A53131">
  <tr> 
    <td width="5" valign="top" bgcolor="#2E448D"> 
      <p>&nbsp; </p>
      <p><font color="#000000" size="1" face="Verdana"> </font></p></td>
    <td width="139" valign="top" bgcolor="#294194" align="right"> 
      <p align="justify"> 
        <!--$$ cgilua.includehtml(findTemplate("menu.htm", "html")) $$-->
        <br>
        <img src="$|templateImageURL("g_clear.gif")|$" width="1" height="30">$|showInfos({includeSectionTags={"*logotipos*"}, 
        infoTemplate="w_indexshortinfo_logotipos.htm", orderBy={"infoDate-","infoTime-"}})|$ </font> 
      </p>
      <p align="justify">$|showInfos({includeSectionTags={"*logorederio*"}, infoTemplate="w_infotemplate_logorederio.htm", 
        orderBy={"infoDate-","infoTime-"}})|$ <br>
      </p>
      </td>
    <td width="1" valign="top" bgcolor="#2E448D"> 
      <div align="center"><font color="#666666" size="2" face="Geneva, Arial, Helvetica, sans-serif"><strong><br>
        <br>
        <br>
        <br>
        </strong></font></div></td>
    <td width="623" valign="top" bgcolor="#FFFFFF"> 
      <div align="right"></div>
      <div align="left">
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr> 
            <td width="86%" rowspan="2" valign="top"> 
              <table width="100%" height="61" border="0" cellpadding="0" cellspacing="0">
                <tr> 
                  <td width="79%" height="61" valign="top" background="$|templateImageURL()|$tab_bibli_principal_copia.jpg"> 
                    <table width="100%" border="0" cellspacing="5" cellpadding="0">
                      <tr> 
                        <td><img src="$|templateImageURL()|$arrow_branco.GIF" width="7" height="7"><font color="#666666" size="2" face="Verdana"><strong> 
                          <font size="1">SISTEC - Sistema de Informa&ccedil;&atilde;o 
                          Tecnol&oacute;gica</font></strong></font></td>
                      </tr>
                    </table></td>
                  <td width="21%" valign="top" background="$|templateImageURL()|$tab_bibli_busca.jpg" bgcolor="#C7CBD7"> 
                    <!---AQUI ENTRA O TEXTO 'BUSCA' --->
                    <div align="center"> 
                      <table width="100%" height="30" border="0" cellpadding="0" cellspacing="3">
                        <tr> 
                          <td valign="middle"> <div align="right"><font color="#666666" size="2" face="Verdana"><strong>Busca:</strong></font></div></td>
                        </tr>
                      </table>
                    </div>
                    <!--- FIM DO TEXTO 'BUSCA' --->
                  </td>
                </tr>
              </table>
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr> 
                  <td height="143" valign="top" bgcolor="#FFFFFF"> 
                    <table width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr valign="top"> 
                        <td height="27" background="$|templateImageURL()|$fundo_bolsa.jpg">&nbsp;</td>
                      </tr>
                      <tr valign="top"> 
                        <td height="61" bgcolor="#EDEDED"> 
                          <table width="100%" border="0" cellspacing="2" cellpadding="2">
                            <tr>
                              <td><font color="#333333">$|showInfos({includeSectionTags={"*informativos*"}, 
                                infoTemplate="w_indexshortinfo_informativos.htm", 
                                infoMaxCount=4, orderBy={"infoDate-", "infoTime-"}})|$</font> 
                              </td>
                            </tr>
                          </table>
                          <font color="#333333">&nbsp;</font> 
                          <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                            <TBODY>
                              <TR bgColor=#d7c1aa> 
                                <TD bgcolor="#EDEDED"> 
                                  <DIV align=left><B></B></DIV></TD>
                              </TR>
                            </TBODY>
                          </TABLE></td>
                      </tr>
                    </table></td>
                </tr>
                <tr> 
                  <td valign="top" bgcolor="#FFFFFF"> <table width="98%" border="0" align="center" cellpadding="2" cellspacing="0">
                      <tr>
                        <td><table width="100%" border="0" align="center" cellpadding="2" cellspacing="0">
                            <tr valign="top"> 
                              <td width="32%" background="$|templateImageURL()|$editais.jpg"><br> 
                              </td>
                              <td width="5%" rowspan="2">&nbsp;</td>
                              <td width="68%" background="$|templateImageURL()|$riointe_tab.jpg"> 
                                <div align="left"> </div></td>
                            </tr>
                            <tr valign="top"> 
                              <td><font color="#294194" size="2" face="Verdana"><strong> 
                                </strong></font> <font color="#294194" size="2" face="Verdana"><strong> 
                                </strong></font> <font color="#294194" size="2" face="Verdana"><strong> 
                                </strong></font> <font color="#294194" size="2" face="Verdana"><strong> 
                                </strong> </font> <font color="#000000"><strong><a href="http://www.redetec.org.br/publique/cgi/cgilua.exe/sys/start.htm?sid=149"> 
                                <img src="$|templateImageURL()|$licitacoes2.jpg" alt="Licita&ccedil;&otilde;es - Editais" border="0"></a></strong></font><br>
                                <strong><font color="#294194" size="2" face="Verdana"><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"> 
                                </font></strong><font color="#294194" size="2" face="Verdana">FORMUL&Aacute;RIO<strong> 
                                </strong></font> 
                                <table cellspacing=0 cellpadding=0 width="98%" border=0>
                                  <tbody>
                                    <tr bgcolor=#d7c1aa> 
                                      <td bgcolor="#CCCCCC"> <div align=left><b></b></div></td>
                                    </tr>
                                  </tbody>
                                </table>
                                <font color="#000000"><strong><a href="http://www.redetec.org.br/publique/cgi/cgilua.exe/sys/start.htm?from%5Fday=&from%5Fmonth=&from%5Fyear=&infoid=55087&numinfosperpage=15&query=autsearch&search%5Fby%5Fauthorname=all&search%5Fby%5Ffield=tax&search%5Fby%5Fheadline=false&search%5Fby%5Fkeywords=any&search%5Fby%5Fpriority=all&search%5Fby%5Fsection=425&search%5Fby%5Fstate=all&search%5Ftext%5Foptions=all&sid=425&text=&to%5Fday=&to%5Fmonth=&to%5Fyear=&user=structureeditor"> 
                                <img src="$|templateImageURL()|$banner_home_page_petro.jpg" alt="Capacita&ccedil;&atilde;o dos Fornecedores de Tecnologia" border="0"></a></strong></font></td>
                              <td><p><font color="#000000" size="2" face="Verdana"><font color="#000000" size="2" face="Verdana"><font color="#000000" size="2" face="Verdana"><font color="#294194" size="2" face="Verdana"><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></font><font color="#000000" size="2" face="Verdana"> 
                                  <strong><font color="#666666" size="1">XII REPICT</font></strong><font color="#666666" size="1"><strong><font color="#CC0000"> 
                                  NOVO!</font><br>
                                  </strong><a href="http://www.redetec.org.br/publique/cgi/cgilua.exe/sys/start.htm?sid=520&tpl=w_section_encontros_interno.htm&fatherid=164">Confira 
                                  as Fotos e Palestras do Evento</a><br>
                                  <br>
                                  </font></font></font></font></font><font color="#000000" size="2" face="Verdana"><font color="#000000" size="2" face="Verdana"><font color="#000000" size="2" face="Verdana"><font color="#294194" size="2" face="Verdana"><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></font><font color="#000000" size="2" face="Verdana"> 
                                  <strong><font color="#666666" size="1">ReINC 
                                  -</font></strong><font color="#666666" size="1"> 
                                  Livro (ZIP 6,8mb)<strong><font color="#CC0000"> 
                                  </font><br>
                                  </strong><a href="$|templateImageURL()|$catalogo_reinc_incubadoras.zip" target="_blank">Cat&aacute;logo 
                                  da Rde de Incubadoras, P&oacute;los e Parques 
                                  Tecnol&oacute;gicos do Rio de Janeiro</a></font></font></font><br>
                                  <font color="#294194" size="2" face="Verdana"><br>
                                  <img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></font><font color="#000000" size="2" face="Verdana"><b><font size="1"> 
                                  <font color="#000000" size="2" face="Verdana"><font color="#000000" size="2" face="Verdana"><strong><font color="#666666" size="1">ReINC 
                                  </font></strong></font></font></font></b><font size="1"><font color="#000000" size="2" face="Verdana"><font color="#000000" size="2" face="Verdana"><font color="#666666" size="1">- 
                                  Livro (PDF 973kb)</font></font></font><b><br>
                                  </b> <a href="$|templateImageURL()|$proposicao_politica_reinc.pdf" target="_blank">Proposi&ccedil;&atilde;o 
                                  de uma Pol&iacute;tica Estadual de Implanta&ccedil;&atilde;o 
                                  e Consolida&ccedil;&atilde;o de Parques Tecnol&oacute;gicos 
                                  do Rio de Janeiro<br>
                                  </a></font></font> <br>
                                  </font><font color="#294194" size="2" face="Verdana"><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></font><font color="#000000" size="2" face="Verdana"> 
                                  <strong><font color="#666666" size="1">ReINC 
                                  -</font></strong><font color="#666666" size="1"> 
                                  Livro (PDF 2,8mb)<strong><br>
                                  </strong><a href="$|templateImageURL()|$livro_pd.pdf" target="_blank">P&amp;D 
                                  e Inova&ccedil;&atilde;o para Micro e Pequenas 
                                  Empresas do Estado do Rio de Janeiro</a></font></font><b><font size="1"><font color="#666666"><br>
                                  </font></font></b> <font color="#000000" size="2" face="Verdana"><font size="1"><a href="http://www.redetec.org.br/publique/media/projeto_capacitacao.doc" target="_blank"><br>
                                  </a></font> </font><font color="#294194" size="2" face="Verdana"><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></font><font color="#000000" size="2" face="Verdana"> 
                                  <strong><font color="#666666" size="1">Informa&ccedil;&otilde;es 
                                  Setoriais<br>
                                  </font></strong><font color="#666666" size="1"><a href="http://www.redetec.org.br/publique/cgi/cgilua.exe/sys/start.htm?sid=221">Petr&oacute;leo 
                                  e G&aacute;s</a></font></font></font></p>
                                </td>
                            </tr>
                          </table></td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              </td>
            <td width="14%" valign="top"> <div align="right"></div>
              <div align="center">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td height="67" background="$|templateImageURL()|$tab_bibli_principal.jpg">$|showSearchInput({ 
                      includeSectionTags = {"*BUSCA*"} })|$</td>
                  </tr>
                  <tr> 
                    <td background="$|templateImageURL()|$eventos.jpg">&nbsp;</td>
                  </tr>
                  <tr> 
                    <td height="14"> 
                      <table border="0" cellspacing="5" cellpadding="0">
                        $|showInfos({includeKeywordTags={"*destaques_*"}, matchingKeywords=1, 
                        isHeadline="true", infoTemplate="w_indexshortinfo_destaques_home.htm", 
                        orderBy={"infoDate-", "infoTime-"}, infoMaxCount=5})|$ 
                      </table>
                      <br>
                      <div align="left"></div></td>
                  </tr>
                  <tr>
                    <td height="20"><div align="center"><font color="#000000"><strong><a href="http://www.redetec.org.br/publique/cgi/cgilua.exe/sys/start.htm?infoid=67860&sid=142"><img src="$|templateImageURL()|$twitter.jpg" alt="Siga a Redetec no Twitter" border="0"></a></strong></font></div></td>
                  </tr>
                  <tr> 
                    <td height="20"><div align="center"><font color="#000000"><strong></strong></font></div></td>
                  </tr>
                </table>
              </div></td>
          </tr>
        </table>
         
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top" bgcolor="#FFFFFF"> 
              <div align="left"> 
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr> 
                    <td valign="top"> 
                      <table width="99%" border="0" align="center" cellpadding="2" cellspacing="2">
                        <tr> 
                          <td colspan="3" valign="top" background="$|templateImageURL()|$programa_ct.jpg">&nbsp;</td>
                        </tr>
                        <tr> 
                          <td width="8%" valign="top"><font color="#000000"><strong><a href="http://labinove.blogspot.com/" target="_blank"><img src="$|templateImageURL()|$labinove.jpg" alt="Visite o blog labINOVE" border="0"></a></strong></font></td>
                          <td width="8%" valign="top"><font color="#000000"><strong><a href="http://www.redetec.org.br/publique/cgi/cgilua.exe/sys/start.htm?UserActiveTemplate=boletim&tpl=home" target="_blank"><img src="$|templateImageURL()|$e_redetec_bol.jpg" alt="Visite o blog labINOVE" border="0"></a> 
                            </strong></font></td>
                          <td width="84%" valign="top"><font color="#000000">$|showSectionList({template="w_sectionlist_section_by_id.htm", 
                            includeSectionTags={"*programadivulgacao*"}})|$ 
                            <!--$$ parentSecID = sectionID({sectionTag=programadivulgacaoTag}) $$-->
                            $|showSectionList({parentSectionID=parentSecID, template="w_sectionlist_programadedivulgacao.htm", 
                            maxSectionLevels=1})|$</font></td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr> 
                    <td valign="top"> 
                      <table width="99%" border="0" align="center" cellpadding="2" cellspacing="2">
                        <tr>
                          <td valign="top" background="$|templateImageURL()|$consultoria.jpg">&nbsp;</td>
                          <td valign="top" background="$|templateImageURL()|$barra_bolsa.jpg">&nbsp;</td>
                        </tr>
                        <tr> 
                          <td width="50%" valign="top"><div align="left"><font color="#000000"><strong><a href="http://www.redetec.org.br/publique/cgi/cgilua.exe/sys/start.htm?sid=33"><img src="$|templateImageURL()|$consult_tec.jpg" alt="Implanta&ccedil;&atilde;o e Desenvolvimento de Solu&ccedil;&otilde;es Tecnol&oacute;gicas" border="0"></a></strong></font></div></td>
                          <td width="50%" valign="top"> <div align="right"><font color="#000000"><strong><a href="http://www.redetec.org.br/bolsa" target="_blank"><img src="$|templateImageURL()|$bolsa_neg.jpg" alt="Conhe&ccedil;a os Produtos e Servi&ccedil;os oferecidos  pelas Empresas da ReINC" border="0"></a> 
                              </strong></font></div></td>
                        </tr>
                        <tr> 
                          <td colspan="2" valign="top"> <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                              <TBODY>
                                <TR bgColor=#d7c1aa> 
                                  <TD bgcolor="#294194"> <DIV align=left></DIV></TD>
                                </TR>
                              </TBODY>
                            </TABLE></td>
                        </tr>
                      </table>
                      <table width="95%" border="0" align="center" cellpadding="2" cellspacing="2">
                        <tr valign="middle"> 
                          <td height="37"> 
                            <div align="center"> 
                              <p><font color="#000000" size="1" face="Verdana"> 
                                Quer receber o <strong><a href="$|startURL()|$?tpl=w_section_cadastro_email.htm">Clipping</a></strong> 
                                por e-mail?</font></p>
                            </div></td>
                          <td> 
                            <div align="center"><font color="#000000" size="1" face="Verdana">Adicione 
                              a p&aacute;gina como <strong><a href="javascript:window.external.AddFavorite('http://www.redetec.org.br','Rede de Tecnologia do Rio de Janeiro%20%20%20%20%20')">favoritos</a></strong></font></div></td>
                        </tr>
                      </table></td>
                  </tr>
                </table>
                 </div></td>
          </tr>
        </table>
      </div></td>
    <td width="1" valign="top" bgcolor="#2E448D">&nbsp;</td>
  </tr>
</table>
<!--$$ cgilua.includehtml(findTemplate("bottom.htm", "html")) $$-->
</BODY></HTML>
