<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td rowspan="2" valign="top" bordercolor="#8C96AD"> <font color="#333333" size="2" face="Verdana"><strong></strong></font> 
      <div align="right"><font color="#666666" size="2" face="Verdana"></font></div>
      <div align="left"><img src="$|templateImageURL()|$g_clear.gif" alt="Menu Rodap&eacute;" name="menu_rodape" width="30" height="8" id="menu_rodape"></div></td>
  </tr>
</table>
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
            
    <td rowspan="2" valign="top" bordercolor="#8C96AD" bgcolor="#2E448D"> <font color="#333333" size="2" face="Verdana"><strong></strong></font> 
      <div align="right"><font color="#FFFFFF" size="1" face="Verdana"></font></div>
              
      <div align="center"></div></td>
          </tr>
        </table>
        
<table width="98%" border="0" align="center" cellpadding="0" cellspacing="1">
  <tr valign="middle"> 
            
    <td valign="top"> 
    $|showSectionList({template="w_sectionlist_section_by_id.htm", includeSectionIDs={129}})|$
    
      <div align="center"><font color="#666666" size="1" face="Verdana">|<a href="$|homeURL()|$">In&iacute;cio</a>| 
        <!--$$ 

            	if (cgi.isriointeli or (cgi.sid and indexViewSectionTag() == modelo11Tag)) then
            		G_isRioInteli = "true"
            		showSectionList({parentSectionID=modelo11ID, template="w_sectionlist_menurodape.htm", maxSectionLevels=1})
            	elseif ((not cgi.infoid and not cgi.query and not cgi.tpl) and (cgi.sid and indexViewSectionLevel()-1) == 2) then
            		G_parentSecID = parentSectionID({sectionID=tonumber(cgi.sid)}) 
            		showSectionList({parentSectionID=G_parentSecID, template="w_sectionlist_menurodape.htm", maxSectionLevels=1})
            	elseif ((not cgi.query and not cgi.tpl) and (cgi.sid and sectionLevel({sectionID=cgi.sid})-1) == 2) then
            		G_parentSecID = parentSectionID({sectionID=tonumber(cgi.sid)}) 
            		showSectionList({parentSectionID=G_parentSecID, template="w_sectionlist_menurodape.htm", maxSectionLevels=1})
            	elseif (cgi.fatherid) then
            		showSectionList({parentSectionID=cgi.fatherid, template="w_sectionlist_menurodape.htm", maxSectionLevels=1})
            	else
            		showSectionList({template="w_sectionlist_section_by_id.htm", includeSectionIDs={2}})
            		G_parentSecID = menu002ID 
            		showSectionList({parentSectionID=G_parentSecID, template="w_sectionlist_menurodape.htm"})
            	end
            	
            $$-->
        <br>
      </div>
            
              </td>
          </tr>
        </table>