/* --------------------------------------------------------------------------------------- */
/* Estilos para elementos HTML. */

a {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#000000;
	font-weight:normal;
	text-decoration:none;
}

a:hover {
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#0000FF;
	font-weight:normal;
	text-decoration:none;
}
.FormTexto {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:8pt;
	color:#000000;
	font-weight:normal;
	padding-left:2px;
	border-left:1px solid #000000;
	border-top:1px solid #000000;
	border-right:1px solid #000000;
	border-bottom:1px solid #000000;
	background-color:#eeeeee;
}
.BotaoSubmit {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: blink;
	background-color: #EE9C4A;
	border: 1px solid #000000;
}
.FormCombo {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	text-decoration: none;
	height: 15px;
	background-color: #EEEEEE;
	border: 1px solid #000000;


}
