<!--$$ useLibrary("w_contextinfo.bin") $$-->
<!--$$ if not strfind(contextInfoLabel(), "xima") then $$-->
<td align="left"><a href="$|contextInfoURL()|$"><img src="$|templateImageURL()|$materia_anterior.jpg" border="0"></a></td>
<!--$$ else $$-->
<td align="right"><a href="$|contextInfoURL()|$"><img src="$|templateImageURL()|$proxima_materia.jpg" border="0"></a></td>
<!--$$ end $$-->
