<!--$$ useLibrary("w_homeshortinfo.bin") $$-->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td valign="top">$|infoLeftIndexImage()|$</td>
    <td valign="top" width="100%"><p>$|infoTitle()|$<br>$|infoAuthor()|$</p><p>$|infoSummary()|$</p></td>
    <td align="right" valign="top">$|infoRightIndexImage()|$</td>
  </tr>
</table>
<p>$|infoDate()|$ $|infoTime()|$ $|infoSection()|$</p>
<!--$$ if not isLastInfo() then $$-->
<hr noshade size=1>
<!--$$ end $$-->