<!--$$ if getn(infoKeywordIDs()) == 0 then $$-->
	<!--$$ if G_cout == 4 then $$-->
		</tr>
		<tr>
	<!--$$ G_cout = 1 $$-->
	<!--$$ end $$-->
	
	<td><div align="center">
	<font color="#666666" size="1" face="Verdana"><a href="$|infoURL()|$&tpl=w_view_rede_encontros">
	<img src="$|infoIndexImageURL()|$" alt="clique aqui" border="0"></a><br>
	$|infoTitleText()|$</font></div><br>
	<td>
	
	<!--$$ G_cout = G_cout+1 $$-->
<!--$$ end $$-->