<!--$$
local summary = infoSummaryFiltered({excludeTags={"P","p","A","a","FONT","font","SPAN","span","STRONG","strong"}})
$$-->
<FONT SIZE="1" FACE="Verdana"><FONT SIZE="1" FACE="Verdana"><FONT COLOR="#666666"><br>
<IMG SRC="$|templateImageURL()|$seta.gif" WIDTH="7" HEIGHT="5"></FONT></FONT>
<FONT SIZE="1" FACE="Verdana"><FONT SIZE="1" FACE="Verdana"><FONT SIZE="1" FACE="Verdana">
<FONT SIZE="1" FACE="Verdana"><FONT SIZE="1" FACE="Verdana"><FONT SIZE="1" FACE="Verdana">
<font color="#666666" size="1" face="Verdana"><A HREF="<!--$$ if not strfind(summary,"http") then $$--> $|infoURL()|$"<!--$$ else $$-->$|summary|$" target="_blank"<!--$$ end $$-->>$|infoTitleText()|$</A></font><FONT COLOR="#666666"></FONT></FONT></FONT></FONT></FONT></FONT></FONT><FONT COLOR="#000000"><br>