<!--$$ useLibrary("w_info.bin") $$-->
<table width="100%" border="0" cellspacing="4" cellpadding="0">
                              <tr>
                                <td valign="top">  <p align="justify"><br>
                                    <img src="$|infoIndexImageURL()|$"><font color="#4A597B" size="2" face="Verdana"><strong><br>
                                    </strong></font><font color="#666666" size="1" face="Verdana">$|infoTitleText()|$</font><font color="#666666" size="1" face="Verdana">
                                    <br>
                                    <br>
                                    <strong><font size="2">$|infoSummaryFiltered()|$<br>
                                    <br>
                                    </font></strong><font size="2">$|infoTextFiltered()|$</font></p>

                                  </td>
                              </tr>
                            </table>                            </p>
