
<font color="#666666" size="2" face="Verdana"><!--$$ if G_mainImage and G_mainImage~= "" then $$--><img src="$|G_mainImage|$"><br><!--$$ end $$-->
                                    <br>
                                    <strong>$|infoTitleText()|$ ($|infoSectionName()|$)</strong></font></p>
                                  <p><font color="#666666" size="2" face="Verdana">$|infoTextFiltered()|$