<!--$$
local summary = infoSummaryFiltered()
local text = infoTextFiltered()
$$-->
																	<p align="justify"><font color="#666666" size="2" face="Verdana"><!--$$ if infoIndexImageURL() ~= "" then $$--><img src="$|infoIndexImageURL()|$"><!--$$ end $$--><br>
                                    <br>
                                    <strong>$|summary|$</strong></font></p>
                                  <p><font color="#666666" size="2" face="Verdana"><strong>Empresas
                                    incubadas residentes:</strong><br>

                                    $|showInfos({sectionID=indexViewSectionID(),includeKeywordTags={"*inc_residente*"}, infoTemplate="w_indexshortinfo_incubadoras_key.htm", orderBy = {"infoTitle+"}})|$

                                    <!--$$ if not G_hasInfo then $$-->
																		Nenhuma
																		<!--$$ end $$-->
                                    </p>
                                  <p><font color="#666666" size="2" face="Verdana"><strong>Empresas
                                    incubadas n&atilde;o residentes:</strong><br>
																		<!--$$ G_hasInfo = nil $$-->
																		$|showInfos({sectionID=indexViewSectionID(),includeKeywordTags={"*inc_naoresidente*"}, infoTemplate="w_indexshortinfo_incubadoras_key.htm", orderBy = {"infoTitle+"}})|$

																		<!--$$ if not G_hasInfo then $$-->
																		Nenhuma
																		<!--$$ end $$-->
																		            </font></p>
                                  <p><font color="#666666" size="2" face="Verdana"><strong>Empresas
                                    associadas ou graduadas:</strong><br>
                                    
                                    <!--$$ G_hasInfo = nil $$-->
																		$|showInfos({sectionID=indexViewSectionID(),includeKeywordTags={"*inc_associado*"}, infoTemplate="w_indexshortinfo_incubadoras_key.htm", orderBy = {"infoTitle+"}})|$
                                    <!--$$ if not G_hasInfo then $$-->
																		Nenhuma
																		<!--$$ end $$-->

                                    </font></p>
                                  <p><font color="#666666" size="2" face="Verdana">$|text|$</font></p>
                                  