<!--$$ useLibrary("w_indexshortinfo.bin") $$-->
<!--$$
	urlInfo = infoTextFiltered({excludeTags={"P","p","SPAN","span","FONT","font","A","a","b","B"}})
	if urlInfo == "" or urlInfo == " " then
		urlInfo="#"
	end
$$-->
<!--$$ if strfind(infoIndexImageURL(),"swf") then $$-->
<tr> 
                  <td width="127" valign="top" bgcolor="#C8D2DF"><object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000"   codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="127" height="60">
      <param name="movie" value="$|infoIndexImageURL()|$">

            <param name="quality" value="high">

            <embed src="$|infoIndexImageURL()|$" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="127" height="60"></embed>

</object>

				  </td>
                </tr>

				<!--$$ else $$-->
				<tr> 
                  <td width="136" valign="top" bgcolor="#C8D2DF">
<div align="center"><a href="$|urlInfo|$" target="_self"><img src="$|infoIndexImageURL()|$" width="127" height="61" border="0"></a></div></td>
                </tr>
				
				
				<!--$$ end $$-->