<!--$$ useLibrary("w_indexshortinfo.bin") $$-->
<!--$$ if G_contador > 3 then $$-->
</tr>
<tr> 
<!--$$ G_contador = 1 $$-->
<!--$$ end $$-->
<!--$$ 
G_textoPopup = infoSummaryFiltered({excludeTags={"P","p","A","a","FONT","font","SPAN","span","STRONG","strong","BR","br"}})
local text = infoTextFiltered({imageTemplate="w_infoimage_galeriadefotos.htm"})
$$-->
<!--$$ if T_HASIMAGE then $$-->
  <td width="100"> <div align="center">$|text|$</div></td>
  <!--$$ T_HASIMAGE = nil $$-->
<!--$$ else $$-->
	<td width="100"> <div align="center"><img src="$|templateImageURL()|$noimagei.gif" alt=""></div></td>
<!--$$ end $$-->  
 
<!--$$ G_contador = G_contador+1 $$-->
