<!--$$
	local urlInfo = infoTextFiltered({excludeTags={"P","p","A","a","u","U","b","B","FONT","font","SPAN","span","STRONG","strong"}})
	local target = "target='_blank'"
	if urlInfo == "" or urlInfo == " " then
		urlInfo = "#"
		target = ""
	end
$$-->
<img src="$|templateImageURL()|$arrow_branco.GIF" width="7" height="7">
                                    <strong><a href="$|urlInfo|$" $|target|$>$|infoTitleText()|$</a></strong></font><font color="#666666" size="1" face="Verdana"><br>
                                    $|infoSummaryFiltered()|$<br>
                                    <br>