<!--$$ useLibrary("w_infoimage.bin") $$-->
<a href='$|infoImageURL()|$'>
<!--$$ if infoImageLabel() ~= "" then $$-->
    <font size="1">$|infoImageLabel()|$</font>
<!--$$ else $$-->
    <font size="1">$|infoImageFileName()|$</font>
<!--$$ end $$-->
</a>