<!--$$ G_hasInfo = "true" $$-->
<p align="left"><font color="#000000" size="3" face="Verdana"><strong><font size="5"><font color="#666666" size="2"><a href="$|startURL()|$?sid=$|infoSectionID()|$&infoid=$|infoID()|$">$|infoTitleText()|$</a></font></font></strong></font><br>
$|infoSummaryFiltered({excludeTags={"P","p"}})|$</p>
