<!--$$ local textInfo = infoTextFiltered({excludeTags={"P","p","A","a","B","b","STRONG","strong","U","u"}}) $$--> 
 <font size="1">
 <font size="1">
 <strong><strong>
 <img src="$|templateImageURL()|$arrow_branco.GIF" width="7" height="7"></strong>
<!--$$ if textInfo ~= "" and textInfo ~= " " then $$-->
<a href="$|startURL()|$?infoid=$|infoID()|$&sid=$|infoSectionID()|$&tpl=w_view_incubadoras">$|infoTitleText()|$ ($|infoSectionName()|$)</a></strong></font><strong><strong><br>
<!--$$ else $$-->
$|infoTitleText()|$ ($|infoSectionName()|$)</strong></font><strong><strong><br>
<!--$$ end $$-->
</strong></strong>$|infoSummaryFiltered()|$</font><strong><strong><br>
<br>
