<!--$$ useLibrary("w_indexshortinfo.bin") $$-->
<p align="left"><font color="#000000" size="3" face="Verdana"><strong><!-- <font size="5"><font color="#666666" size="2">$|infoSectionName()|$</font> --></font></strong></font></p>
                                          <p align="left">&nbsp;</p>
                                          <p align="justify"><font color="#666666" size="2" face="Verdana">$|infoTextFiltered()|$
                                            <br>
                                            <br>
                                            </font></p>
                                          <p align="justify">&nbsp;</p>
                                          <p align="justify"><font color="#666666" size="2" face="Verdana"><br>
                                            </font></p>