	<font color="#666666" size="1" face="Verdana">
		<img src="$|templateImageURL()|$arrow_branco.GIF" width="7" height="7">
		<a href="$|infoURL()|$&tpl=w_section_redetematicas_links.htm">$|infoTitleText()|$</a><br>
	</font> 
