 <!--$$ useLibrary("w_indexshortinfo.bin") $$--> 
<p align="left"><strong><font color="#666666" size="2" face="Verdana"><strong> 
  <font color="#CC6600"> <font color="#3333FF"> <font color="#003399">
  <!-- 
  <!--$$ if infoCounter() == 1 then $$-->
  $|infoSectionName()|$<br>
  <br>
  <font size="1"> 
  <!--$$ end $$-->
  <font size="2"> -->$|infoTitleText()|$</font></font><br>
  </font></font></font></strong></font></strong><font color="#003399" size="1" face="Verdana"><strong><font size="2"><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></font></strong> 
  <a href="$|infoURL()|$">$|infoSummaryFiltered({excludeTags={"P"}})|$</a></font></p>
