<!--$$
useLibrary("w_indexshortinfo.bin")
local title = infoTitleText()
local _,_,yearEvent = strfind(title,"^([^/]*)/.*")
local _,_,monthEvent = strfind(title,"^[^/]*/([^/]*)/.*")
local _,_,dayEvent = strfind(title,"^[^/]*/[^/]*/(.-)%s%-.*")
local _,_,titleText = strfind(title,"^[^%-]*%-(.*)")
$$--> <strong><font color="#666666" size="1" face="Verdana"><strong><font color="#294194" size="2" face="Verdana"><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></font></strong> 
<font size="2"><a href="$|infoURL()|$"><b>$|dayEvent|$/$|monthEvent|$/$|yearEvent|$ 
- $|titleText|$</b></a></font><br>
</font></strong><font color="#666666" size="1" face="Verdana">$|infoSummaryFiltered({excludeTags={"P","p"}})|$<br>
<br>