<!--$$ G_idEncontro = infoSectionID() $$-->
<!--$$ if getn(infoKeywordIDs()) == 0 then $$-->
	<!--$$ if G_countInfo == 1 then $$-->
<p align="justify"><font color="#666666" size="1" face="Verdana"><font size="2"><strong><a href="$|sectionURL({sectionID=G_encontrosID})|$"><br>
  ENCONTROS</a></strong></font><br>
  <br>
  <img src="$|infoIndexImageURL()|$" width="80" height="80"> <br>
  <br>
  </font><font color="#4A597B" size="2" face="Verdana">$|strupper(infoSectionName())|$</font></p>
	<p align="justify"><font color="#666666" size="2" face="Verdana">$|infoTextFiltered()|$</font></p>
	<!--$$ end $$-->
	<!--$$ G_countInfo = G_countInfo+1 $$-->
<!--$$ end $$-->