<!--$$ useLibrary("w_indexshortinfo.bin") $$-->
    <!--$$ if infoTextFiltered() ~= '' then $$-->
    <p><b><a href="$|infoURL()|$" class="titulo_comlink">: $|infoTitleText()|$</a></b></p>
    <!--$$ else $$-->
    <p class="titulo_comlink"><b>$|infoTitleText()|$</b></p>
    <!--$$ end $$-->

    <p>$|infoSummary()|$</p>