<!--$$ useLibrary("w_info.bin") $$-->
<table cellpadding="0" cellspacing="0" border="0" width="100%">
  <tr>
    <td valign="top"><p>$|infoTitle()|$<br>$|infoAuthor()|$</p>
    <!--$$ if hasEmptyText() then $$-->
    <p>$|infoSummary()|$</p>
    <!--$$ else $$-->
    <p>$|infoText()|$</p>
    <!--$$ end $$-->
    </td>
  </tr>
</table>
<p>$|infoDate()|$ $|infoTime()|$ $|infoSection()|$</p>