<!--$$ G_hasInfo = "true" $$-->
<img src="$|templateImageURL()|$arrow_branco.GIF" width="7" height="7">
<!--$$ if infoTextFiltered() == "" then $$-->
$|infoTitleText()|$<br>
<!--$$ else $$-->
<a href="$|infoURL()|$&tpl=w_view_incubadoras">$|infoTitleText()|$</a><br>
<!--$$ end $$-->
