<p><strong><font color="#666666" size="1" face="Verdana"><strong><font color="#294194" size="2" face="Verdana"><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></font></strong> 
  <font size="2"><a href="$|infoURL()|$"><b>$|infoTitleText()|$</b></a></font><br>
  </font></strong><font color="#666666" size="1" face="Verdana">$|infoSummaryFiltered({excludeTags={"P","p"}})|$<br>
  <br>
  $|infoDate()|$<br>
  <br>
</p>
