  <!--$$ useLibrary("w_indexshortinfo.bin") $$-->
<!--$$ if (getn(infoKeywordIDs()) == 0) then $$-->
	<!--$$ if G_contador > 3 then $$-->
	</tr>
	<tr>
		<td colspan=3><img src="$|templateImageURL()|$g_clear.gif" width="1" height="10"></td>
	</tr>
	<tr>
	<!--$$ G_contador = 1 $$-->
	<!--$$ end $$-->
	<td> <div align="center"><font color="#666666" size="1" face="Verdana"><a href="$|infoSectionURL()|$&tpl=w_section_encontros_interno.htm&fatherid=$|G_fatherID|$"><img src="$|infoIndexImageURL()|$" alt="clique aqui" width="80" height="80" border="0"></a><br>
      $|infoSectionName()|$</font></div></td>
	<!--$$ G_contador = G_contador+1 $$-->
<!--$$ end $$-->