<!--$$ useLibrary("w_indexshortinfo.htm") $$-->
<font color="#666666" size="1" face="Verdana"><a href="$|startURL()|$?infoid=$|infoID()|$&sid=$|infoSectionID()|$&encontrosid=$|G_encontrosID|$&idencontro=$|G_idEncontro|$&tpl=view_incubadoras_encontros.htm&fatherid=$|cgi.fatherid|$"><b>$|infoTitleText()|$</b></a><br></font>