<!--$$
G_tableInfos = {}
local idSection = ""
if (t_sectionsChildrens and type(t_sectionsChildrens) == "table" and getn(t_sectionsChildrens) ~= 0) then
	idSection = t_sectionsChildrens[1]	
elseif (cgi.idencontro) then
	idSection = tonumber(cgi.idencontro)
else
	idSection = tonumber(cgi.sid)
end

showInfos({ sectionID=idSection, includeKeywordTags={keywordTag()}, infoMaxCount=5, orderBy={"infoDate-", "infoTime-"}, infoTemplate="w_indexshortinfo_destaques_interno.htm" })
G_tableInfos.n = nil
$$-->
<!--$$ if (getn(G_tableInfos) ~= 0 and G_isFirstKey == "true") then $$-->
<!--$$ G_isFirstKey = "false" $$-->
<tr>
	<td>
		<table width="130" border="0" align="right" cellpadding="0" cellspacing="0">
      <tr> 
        <td height="19" background="$|templateImageURL()|$apoio.jpg"> 
          <div align="center"><font color="#FFFFFF" size="2" face="Verdana"><strong>$|keywordText()|$</strong></font></div></td>
      </tr>
    </table>
	</td>
</tr>
<tr> 
  <td valign="top"> <div align="center"> 
      <table width="130" border="0" align="right" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
        <tr>
        	<td width="143">
      			<table border="0" cellpadding="0" cellspacing="3" bgcolor="#FFFFFF">  		
			        <!--$$ 
			        	G_n = 1
			        	while(G_tableInfos[G_n]) do
			        $$-->
		        	<tr> 
						    
                <td width="136" bgcolor="#FFFFFF"> 
                  <div align="center"><a href="$|G_tableInfos[G_n].infoText|$" target="_self"> 
                    <!--$$ if strfind(G_tableInfos[G_n].infoFileName,"swf") then $$-->
                    <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="127" height="60" id=ShockwaveFlash1>
                  <param name="movie" value="$|G_tableInfos[G_n].infoImage|$">
                  <param name="quality" value="high">
                  <embed src="$|G_tableInfos[G_n].infoImage|$" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="127" height="60"></embed>
                  </object>

			        <!--$$ else $$-->
			            <img src="$|G_tableInfos[G_n].infoImage|$" border="0">
			        <!--$$ end $$-->
						      </a></div>
						    </td>
						  </tr>
						  <!--$$
							  G_n = G_n+1
							end
							$$-->
						</table>
					</td>
				</tr>
      </table>
    </div></td>
</tr>
<!--$$ elseif (getn(G_tableInfos) ~= 0 and G_isFirstKey ~= "true") then $$--> 
<tr>
	<td>
		<table width="100%" bgcolor="#ADBED6" border="0" cellspacing="0" cellpadding="0">
      <tr> 
        <td><div align="center"><font color="#FFFFFF" size="2" face="Verdana"><strong>$|keywordText()|$</strong></font></div></td>
      </tr>
    </table>
	</td>
</tr>
<tr> 
  <td valign="top"> <div align="center"> 
      <table border="0" cellpadding="0" cellspacing="5" bgcolor="#ADBED6">
        <!--$$ 
        	G_n = 1
        	while(G_tableInfos[G_n]) do
        $$-->
        	<tr> 
				  	<td width="136" bgcolor="#AEBED7"><div align="center"><a href="$|G_tableInfos[G_n].infoText|$" target="_self"> 
              <!--$$ if strfind(G_tableInfos[G_n].infoFileName,"swf") then $$-->
              <object classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,29,0" width="127" height="60" id=ShockwaveFlash1>
            <param name="movie" value="$|G_tableInfos[G_n].infoImage|$">
            <param name="quality" value="high">
            <embed src="$|G_tableInfos[G_n].infoImage|$" quality="high" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" width="127" height="60"></embed>
            </object>

        <!--$$ else $$-->
            <img src="$|G_tableInfos[G_n].infoImage|$" border="0">
        <!--$$ end $$-->
				</a></div></td>
									</tr>
			  <!--$$
					G_n = G_n+1
					end
				$$-->
      </table>
    </div></td>
</tr>
<!--$$ end $$-->