<!--$$ useLibrary("w_navigationwidget.bin") $$-->
<table border="$|NavigationWidget.table.border|$" bordercolor="$|NavigationWidget.table.bordercolor|$" bgcolor="$|NavigationWidget.table.bgcolor|$" cellpadding="2" cellspacing="0" width="100%">
  <tr>
    <td bgcolor="$|NavigationWidget.lblHeader.bgcolor|$">$|contextLabel()|$</td>
  </tr>
  <tr>
    <td>$|showContextInfos()|$</td>
  </tr>
</table>