<!--$$ 
if indexViewSectionLevel() == 3 then 
	if sectionCounter() == sectionMaxCount() then 
 		--CAPTURA A URL DA SECAO 'PRINCIPAL' CONTEXTUALIZADA PELO PAI . EX. REINC, REPIT
 		G_urlSection = "#"
 		G_nameSection = sectionName()
 		showSectionList({includeSectionIDs=sectionChildrenIDs(), template="w_sectionlist_getsection.htm"})
 		write([[<a href="]]..G_urlSection..[[">]]..sectionName()..[[</a> >]])
 		
 	end 
elseif indexViewSectionLevel() > 3 then 
 	if sectionLevel() == 2 then
 		--CAPTURA A URL DA SECAO 'PRINCIPAL' CONTEXTUALIZADA PELO PAI . EX. REINC, REPIT
 		G_urlSection = "#"
 		G_nameSection = sectionName()
 		showSectionList({includeSectionIDs=sectionChildrenIDs(), template="w_sectionlist_getsection.htm"})
 		write([[<a href="]]..G_urlSection..[[">]]..sectionName()..[[</a> >]])
 	
 	end
else 
 if sectionCounter() == 1 then 
 	write(sectionName()..[[ > ]])
 end
end 

hasBreadcrumb = "true" 

$$-->