<!--$$ if strfind(sectionTag(), "MENU") then $$-->
			<!--$$ 
			if sectionLevel() == 0 then 
			  G_TEST1 = nil
			  G_SNAME = sectionName()
			  G_STAG = sectionTag()
			$$-->
			
			$|showSectionList({ template = "w_sectionlist_mapa.htm", includeSectionTags={"*MENU*"},parentSectionID = sectionID(), maxSectionLevels = 1 })|$
			
			<!--$$ 
			if (not G_TEST1) then
			  write([[<li class = "ItemStyle" style="text-transform:uppercase;"><strong><font color="#666666" size="1" face="Verdana"><a href="]]..sectionURL()..[[">]]..sectionName()..[[</a></font></strong><br><br> ]])    
			end
			
			
			elseif sectionLevel() == 1 then 
			  if (sectionCounter() == 1) then 
			    write([[<li class = "ItemStyle" style="text-transform:uppercase;"><strong><font color="#666666" size="1" face="Verdana">]]..G_SNAME..[[</font></strong>]])
			  end
			  G_TEST = nil
			  G_TEST1 = G_TEST1 or 1
			  G_SNAME = sectionName()
			  G_STAG = sectionTag()
			$$-->
			
			$|showSectionList({ template = "w_sectionlist_mapa.htm",includeSectionTags={"*MENU*"} ,parentSectionID = sectionID(), maxSectionLevels = 1 })|$
			
			<!--$$ 
			  if (not G_TEST) then
			    if strfind(sectionTag(), "paginainicial") then
			    	write([[<li><font color="#666666" size="1" face="Verdana"><img src="]]..templateImageURL()..[[arrow_branco.GIF" width="7" height="7">&nbsp;<a href="]]..sectionURL()..[[" style="font-weight:bold">]]..sectionName()..[[</a></font>]])    
			    else
			    	write([[<li><img src="]]..templateImageURL()..[[g_clear.gif" width="40" height="1"><font color="#666666" size="1" face="Verdana"><img src="]]..templateImageURL()..[[arrow_drop.GIF" width="7" height="7">&nbsp;<a href="]]..sectionURL()..[[">]]..sectionName()..[[</a></font>]])    
			    end
			    if (isLastSection()) then 
			      write([[<br><br>]])
			    end
			  end
			
			
			else 
			  G_TEST = G_TEST or 1
			  if (sectionCounter() == 1) then 
			    if strfind(G_STAG,"0009") then --ESSA TAG EH DA SECAO PETROLEO
			    	write([[<li class = "PopItemStyle"><img src="]]..templateImageURL()..[[g_clear.gif" width="40" height="1"><font color="#666666" size="1" face="Verdana"><img src="]]..templateImageURL()..[[arrow_drop.GIF" width="7" height="7">&nbsp;]]..G_SNAME..[[</font>]])
			    else
			    	write([[<li class = "PopItemStyle"><strong><font color="#666666" size="1" face="Verdana"><img src="]]..templateImageURL()..[[arrow_branco.GIF" width="7" height="7">&nbsp;]]..G_SNAME..[[</font> </strong>]])
			    end
			    write([[<ul>]])
			  end
			$$-->
			<!--$$ if getn(sectionChildrenIDs()) ~= 0 and not strfind(sectionTag(), "0126") then --ESSA TAG EH DA SECAO INSTITUICOES DE REFERENCIA
			$$-->
			<li><font color="#666666" size="1" face="Verdana"><strong><img src="$|templateImageURL()|$arrow_drop.GIF" width="7" height="7"></strong>&nbsp;$|sectionName()|$ </font> </li>
			<!--$$ else $$-->
			<li><font color="#666666" size="1" face="Verdana"><strong><img src="$|templateImageURL()|$arrow_drop.GIF" width="7" height="7"></strong>&nbsp;<a href="$|sectionURL()|$" target="_self">$|sectionName()|$</a> </font> </li>
			<!--$$ end $$-->
			$|showSectionList({ template = "w_sectionlist_mapa_lastlevel.htm",includeSectionTags={"*MENU*"} ,parentSectionID = sectionID(), maxSectionLevels = 1 })|$
			<!--$$ 
			  if (isLastSection()) then 
			    write([[</ul><br>]])
			  end
			  
			  
			end $$-->
<!--$$ end $$-->
