<font color="#666666" size="1" face="Verdana"><strong><img src="$|templateImageURL()|$quadrado.jpg" width="7" height="7"></strong></font><font size="2"> 
<a href="$|sectionURL()|$&tpl=w_section_participantes_int"><b>$|sectionName()|$</b></a></font><br>
</font></strong><font color="#666666" size="1" face="Verdana">$|sectionDescription()|$<br>
<br>