 <!--$$
 	local image = sectionDescription({excludeTags={"P","p","A","a","font","FONT","span","SPAN"}})
 	local imageOver = ''
 	local existFile = ''
 	local _,_,mediaPhysicalURL = strfind(activeTemplatePath(),"(.*web).*")
 	
 	if image ~= "" and imagem ~= " " then
 		imageOver = gsub(image, "(.*)%.(...)","%1_over.%2")
 		image = mediaURL(image)
 		existFile = openfile(mediaPhysicalURL.."/media/"..imageOver,"r")
 		
 		if existFile then
 			imageOver = "onMouseOver='this.src=\""..mediaURL(imageOver).."\"' onMouseOut='this.src=\""..image.."\"'"
 		else
 			imageOver = ''
 		end
 	end
 $$-->
 <!--$$ if image ~= "" and imagem ~= " " then $$-->
 <a href="$|sectionURL()|$"><img src="$|image|$" name="image" border="0" $|imageOver|$></a><br>
 <!--$$ end $$-->
 <!--$$ if sectionCounter() ~= sectionMaxCount() then $$-->
  <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
    <TBODY>
      <TR bgColor=#d7c1aa> 
        <TD bgcolor="#FFFFFF"> 
          <DIV align=left><B></B></DIV></TD>
      </TR>
    </TBODY>
  </TABLE>
<!--$$ end $$-->
             