 <!--$$ if (G_isRioInteli) then $$-->
 	$|showSectionList({parentSectionID=sectionID(), template="w_sectionlist_hasubsection.htm"})|$
 	<!--$$ if not G_hasSubSection then $$-->
 		<font size="2" face="Arial, Helvetica, sans-serif"> </font>|<a href="$|sectionURL()|$&isriointeli=true">$|gsub(sectionName()," ","&nbsp;")|$</a>|
 	<!--$$ end $$-->
 	<!--$$ G_hasSubSection = nil $$-->
 <!--$$ elseif sectionLevel() ~= 1 then $$-->
  <font size="2" face="Arial, Helvetica, sans-serif"> </font>|<a href="$|sectionURL()|$">$|gsub(sectionName()," ","&nbsp;")|$</a>|
 <!--$$ end $$-->