<p align="justify" style="text-transform:uppercase;"><font color="#4A597B" size="2" face="Verdana"><strong>$|sectionName()|$</strong></font></p>
  <p><font color="#666666" size="2" face="Verdana">

    $|showInfos({includeSectionTags={sectionTag()}, infoTemplate="w_indexshortinfo_colaboradoras_int.htm"})|$
    </font>