<!--$$ if sectionLevel() ~= 6 then $$-->
	<!--$$ if sectionCounter()  ~= 1 then $$-->
	<br>
	<!--$$ end $$-->
	<strong><font color="#666666" size="2" face="Verdana">$|sectionName()|$</font></strong> 
	<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
	  <TBODY>
	    <TR bgColor=#d7c1aa> 
	      <TD bgcolor="#4A597B"> 
	        <DIV align=left><B></B></DIV></TD>
	    </TR>
	  </TBODY>
	</TABLE>
	<div align="left">$|showInfos({sectionID=sectionID(), infoTemplate="w_indexshortinfo_incub_encont_listaprogramacao.htm", orderBy={"infoDate-", "infoTime-"}})|$</div>
<!--$$ else $$-->
<font color="#666666" size="1" face="Verdana"><a href="$|startURL()|$?sid=$|sectionID()|$&encontrosid=$|G_encontrosID|$&idencontro=$|G_idEncontro|$&fatherid=$|cgi.fatherid|$"><b>$|sectionName()|$</b></a><br></font>
<!--$$ end $$-->
