<!--$$
	G_subSection = {}
	showSectionList({parentSectionID=sectionID(), template="w_sectionlist_riointeligente_susb.htm", maxSectionLevels=1})
	G_subSection.n = nil
$$-->
<!--$$ if G_hasSubSections then $$-->
	<!--$$ G_hasSubSections = nil $$-->
	<font color="#666666" size="2" face="Verdana"><strong>$|sectionName()|$ - </strong></font><FONT COLOR="#666666" SIZE="1" FACE="Verdana"><FONT SIZE="2">$|sectionDescription({excludeTags={"P","p","FONT","font","span","SPAN"}})|$</FONT></FONT> 
	<TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
	  <TBODY>
	    <TR bgColor=#d7c1aa> 
	      <TD bgcolor="#8C96AD"> <DIV align=left></DIV></TD>
	    </TR>
	  </TBODY>
	</TABLE>
	<!--$$
		local i = 1
		while (G_subSection[i]) do
			G_secDescription = G_subSection[i].sectiondescription
			write('<img src="'..templateImageURL()..'arrow_branco.GIF" width="7" height="7">\n')
			if G_secDescription ~= "" then
				write('<FONT COLOR="#666666" SIZE="1" FACE="Verdana"><a href="'..G_subSection[i].sectionurl..'&isriointeli=true">'..G_subSection[i].sectionname..'</a></FONT><FONT COLOR="#666666" SIZE="2" FACE="Verdana"><STRONG> - </STRONG></FONT><FONT COLOR="#666666" SIZE="1" FACE="Verdana"><FONT SIZE="2">'..G_secDescription..'</FONT></FONT><FONT COLOR="#666666" SIZE="1" FACE="Verdana"><BR>\n')
			else
				write('<FONT COLOR="#666666" SIZE="1" FACE="Verdana"><a href="'..G_subSection[i].sectionurl..'&isriointeli=true">'..G_subSection[i].sectionname..'</a></FONT><BR>\n')
			end
			write('<BR>\n')
		i =i+1
		end
	$$-->

</A>
<!--$$ end $$-->