<!--$$ 
	urlImageSection = sectionDescription({excludeTags={"P","p","font","FONT","SPAN","span","a","A"}})
	if urlImageSection ~= "" and urlImageSection ~= " " then
		urlImageSection = mediaURL(urlImageSection)
	else
		urlImageSection = templateImageURL().."g_clear.gif"
	end
	
$$-->
	
<div align="left"><font color="#000000" size="2" face="Verdana"> </font><font color="#000000" face="Verdana"><font color="#000000" face="Verdana"></font></font> 
  <font color="#676B6C" size="1" face="Verdana"><strong><a href="$|sectionURL()|$"><img src="$|urlImageSection|$" width="100" height="48" border="0"></a></strong></font></div>
	<div align="left"> $|showSectionList({parentSectionID=sectionID(), template="w_sectionlist_programadivug_subs.htm", 
  maxSectionLevels=1})|$</div>
