<!--$$ if sectionCounter() < 3 then $$-->
<font color="#000000" face="Verdana"><font size="2"><img src="$|templateImageURL()|$arrow_branco.GIF" width="7" height="7"><font size="1"> 
<a href="$|sectionURL()|$" target="_self">$|sectionName()|$</a><br>
<!--$$ end $$-->