<!--$$ if sectionLevel() == 0 then $$-->
<img src="$|templateImageURL()|$arrow_branco.GIF" width="7" height="7"> 
<font color="#000000" size="2" face="Verdana"><strong><a href="$|sectionURL()|$">$|sectionName()|$</a></strong></font><br>
<!--$$ end $$-->