<!--$$ useLibrary("w_infoimage.bin") $$-->
<table cellpadding=2 cellspacing=0 align=$|infoImageAlignment()|$>
  <tr>
    <td align=center><!--$$ if infoImageTargetURL() ~= "" then $$--><a href='$|infoImageTargetURL()|$'><!--$$ end $$--><img src='$|infoImageURL()|$' alt='$|infoImageLabel()|$' border=0><!--$$ if infoImageTargetURL() ~= "" then $$--></a><!--$$ end $$--></td>
  </tr>
  <tr>
    <td align=center><font size="1">$|infoImageLabel()|$</font></td>
  </tr>
</table>