	<form action="$|startURL()|$" method="POST">
  <div align="right">
    <input type="hidden" name="user" value="$|cgi.user|$">
    <input type="hidden" name="query" value="simple">
    <input type="hidden" name="search_by_field" value="tax">
    <input type="hidden" name="search_by_section" value="$|searchInputSections()|$">
    <input type="hidden" name="UserActiveTemplate" value="$|cgi.UserActiveTemplate|$"><table border="0" cellpadding="0" cellspacing="2"> 
  </div>
  
  <tr> 
    <td valign="top"> <div align="center">
        <input name="text" type="text" size="12" class="FormTexto">
      </div></td>
    <td valign="top"> <div align="center">
        <input name="Enviar" type="image" width="24" height="24" class="BotaoSubmit" id="Enviar" src="$|templateImageURL()|$ok.jpg" border="0">
      </div></td>
  </tr>
  <tr valign="top"> 
    <td height="27" colspan="2"> <div align="center"><a href="$|advancedSearchLinkURL()|$"><img src="$|templateImageURL()|$busca_avancada.gif" width="124" height="16" border="0"></a><font size="1" face="Verdana"><a href="$|advancedSearchLinkURL()|$"> 
        </a></font><font color="#000000" size="2" face="Arial, Helvetica, sans-serif"> 
        </font></div></td>
  </tr>
</form>
<div align="right"></table> </div>
