    <form action="$|startURL()|$" method="POST">
    <input type="hidden" name="user" value="$|cgi.user|$">
    <input type="hidden" name="query" value="simple">
    <input type="hidden" name="search_by_field" value="tax">
    <input type="hidden" name="search_by_section" value="$|searchInputSections()|$">
    <input type="hidden" name="search_by_keywords" value="$|showKeywordList({excludeKeywordTags={"*imagemtitulo*","*destaques_apoio*","*destaques_destaque*","*destaques_parceria*"}})|$">
    <input type="hidden" name="UserActiveTemplate" value="$|cgi.UserActiveTemplate|$">
<tr> 
  <td valign="top" bgcolor="#8C96AD"> <table border="0" align="center" cellpadding="0" cellspacing="5">
      <tr> 
        <td width="98" valign="top"><font color="#FFFFFF" face="Verdana"><strong> 
          </strong></font><font color="#000000" size="1" face="Verdana"> 
          <font color="#FFFFFF" size="2"><strong>Busca</strong></font> 
          <input name="text" type="text" size="15" class="FormTexto">
          <input name="Enviar" type="submit" class="BotaoSubmit" id="Enviar" value="Ok">
          </font></td>
      </tr>
    </table></td>
</tr>
</form>