<!--$$ cgilua.includehtml(findTemplate("head.htm", "html")) $$--> 
<table width="770" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr> 
    <td width="5" height="408" valign="top" bgcolor="#2E448D"> 
      <p>&nbsp; </p>
      <p><font color="#000000" size="1" face="Verdana"> </font></p></td>
    <td width="139" valign="top" bgcolor="#2E448D" align="right"> 
      <p> 
        <!--$$ cgilua.includehtml(findTemplate("menu.htm", "html")) $$-->
        <br>
        <img src="$|templateImageURL("g_clear.gif")|$" width="1" height="30"><br>
        $|showInfos({includeSectionTags={"*logotipos*"}, infoTemplate="w_indexshortinfo_logotipos.htm", 
        orderBy={"infoDate-","infoTime-"}})|$ <br>
        <br>
        <br>
      </p></td>
    <td width="1" valign="top" bgcolor="#2E448D"> 
      <div align="center"><font color="#666666" size="2" face="Geneva, Arial, Helvetica, sans-serif"><strong><br>
        <br>
        <br>
        <br>
        </strong></font></div></td>
    <td width="623" valign="top" bgcolor="#FFFFFF"> <div align="right"></div>
      <div align="left"> 
        <table width="100%" border="0" height="100%" cellpadding="0" cellspacing="0">
          <tr> 
            <td height="95%" valign="top"> <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr> 
                  <td height="52" valign="top"> <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr> 
                        <td width="75%" valign="top"> <table width="100%" height="61" border="0" cellpadding="0" cellspacing="0">
                            <tr> 
                              <td width="76%" height="61" valign="top" background="$|templateImageURL()|$tab_bibli_principal_copia.jpg"> 
                                <table width="100%" border="0" cellspacing="5" cellpadding="0">
                                  <tr> 
                                    <td><font color="#000000" size="1" face="Verdana"> 
                                      $|showSectionList({ includeSectionIDs=indexViewSectionPathIDs(), 
                                      template="w_sectionlist_miolodepao.htm"})|$ 
                                      <strong>$|indexViewSectionName()|$</strong> 
                                      </font> </td>
                                  </tr>
                                </table></td>
                              <td width="20%" valign="top" background="$|templateImageURL()|$tab_bibli_busca.jpg" bgcolor="#C7CBD7"> 
                                <div align="center"> 
                                  <table width="100%" height="30" border="0" cellpadding="0" cellspacing="3">
                                    <tr> 
                                      <td><div align="right"><font color="#FFFFFF" size="2" face="Verdana"><strong><font color="#000000">Busca:&nbsp;&nbsp;</font></strong></font></div></td>
                                    </tr>
                                  </table>
                                </div></td>
                            </tr>
                          </table></td>
                        <td width="20%" valign="top" background="$|templateImageURL()|$tab_bibli_principal.jpg"> 
                          $|showSearchInput({ includeSectionTags = {"*BUSCA*"} 
                          })|$ </td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <table width="100%" height="46" border=0 cellpadding=0 cellspacing=0>
                <tbody>
                  <tr bgcolor=#d7c1aa> 
                    <td height="46" background="$|mediaURL("banner_geral_rede.jpg")|$" bgcolor="#FFFFFF"> 
                      <div align=left><b></b></div></td>
                  </tr>
                </tbody>
              </table>
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr> 
                  <td valign="top"> <table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr> 
                        <td width="75%" height="268" valign="top"> <div align="justify"> 
                            <table width="100%" border="0" cellspacing="10" cellpadding="0">
                              <tr> 
                                <td valign="top"> <strong><font color="#4A597B" size="2" face="Verdana"><img src="$|templateImageURL()|$mapa.jpg" width="22" height="22"> 
                                  MAPA DO SITE</font></strong> 
                                  <ul>
                                    $|showSectionList({ template = "w_sectionlist_mapa.htm", 
                                    parentSectionID = 0, maxSectionLevels = 1 
                                    })|$ </ul></td>
                              </tr>
                            </table>
                          </div></td>
                        <td width="25%" valign="top"> <br> <table width="100%" border="0" align="right" cellpadding="0" cellspacing="0" bordercolor="#4A597B">
                            <!--$$ G_isFirstKey = "true" $$-->
                            $|showKeywordList({template="w_keywordlist_destaques.htm", 
                            includeKeywordTags={"*destaques_*"}})|$ 
                            <tr> 
                              <td bgcolor="#FFFFFF"> <div align="center"><font color="#FFFFFF" size="2" face="Verdana"></font></div></td>
                            </tr>
                            <!---
                            $|showSearchInput({template="w_searchinput_interno.htm"})|$
                            <tr>
                              <td valign="top"> 
                                <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
                                  <TBODY>
                                    <TR bgColor=#d7c1aa> 
                                      <TD bgcolor="#FFFFFF"> <DIV align=left></DIV></TD>
                                    </TR>
                                  </TBODY>
                                </TABLE>
                                <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#CCCCCC">
                                  <tr bgcolor="#FFFFFF"> 
                                    <td height="23" valign="middle" bgcolor="#CCCCCC"> 
                                      <div align="center">$|showSectionList({includeSectionTags={"*BANNER*"}, template="w_sectionlist_secoes_colunadireita.htm"})|$</div></td>
                                  </tr>
                                </table>
                              </td>
                            </tr>--->
                          </table>
                          <br> </td>
                      </tr>
                    </table></td>
                </tr>
              </table>
              <div align="right"></div></td>
          </tr>
          <tr> 
            <td align="bottom"> 
              <!--$$ cgilua.includehtml(findTemplate("menurodape.htm", "html")) $$-->
            </td>
          </tr>
        </table>
      </div></td>
    <td width="1" valign="top" bgcolor="#4A597B">&nbsp;</td>
  </tr>
</table>
<!--$$ cgilua.includehtml(findTemplate("bottom.htm", "html")) $$-->
</BODY><!-- InstanceEnd --></HTML>
