<li><font color="#666666" size="1" face="Verdana"><strong><img src="$|templateImageURL()|$arrow_drop.GIF" width="7" height="7"></strong>&nbsp;<a href="$|sectionURL()|$" target="_self">$|sectionName()|$</a> </font> </li>