     #upbg
        {}
        .style1
        {
            text-align: right;
            font-family: Tahoma;
            font-size: small;
       
        }
        .style2
        {
            font-family:Tahoma;
            font-size:11px;
            color:#666666}
        .style3
        {
            text-align: right;
        }
        .style4
        {
            font-weight: normal;
        }
        .style5
        {
            font-size: small;
            color: #FF9900;
            font-family: Tahoma;
        }
        .style6
        {
            font-size: small;
            color: #333333;
            font-family: Tahoma;
        }
        .style7
        {
            font-size: xx-small;
        }
        .style8
        {
            font-size: small;
            color: #666666;
        }
  .titulo_redes
        {
            font-size: 12px;
            text-align: left;
        }
        
        .titulo_destaque
        {
            font-size:15px;
            text-align:left;
           
        }
         .titulo_secao
        {
            font-size:11px;
            text-align:left;
            color:orange;
        }
            .titulo_materia
        {
            font-size:13px;
            text-align:left;
            color:#666666;
            font-weight:normal;
        }
            .titulo_materia_principal
        {
            font-size:14px;
            text-align:left;
            color:#666666;
            font-weight:bold;
            
        }
               .titulo_publicado
        {
            font-size:11px;
            text-align:left;
            color:#666666;
            font-weight:normal;
        }
                 .titulo_veja_tb
        {
            font-size:11px;
            text-align:left;
            color:#666666;
            font-weight:normal;
        }
        .titulo_principal_secao
        {
            font-size:11px;
            text-align:left;
            color:#666666;
            font-weight:normal;
        }
        
          .titulo_data
        {
            font-size:12px;
            text-align:center;
            color:orange;
            font-weight:normal;
        }
             .titulo_materia_secao
        {
            font-size:12px;
            text-align:left;
            color:#666666;
            font-weight:bold;
            
        }